@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
body{
    background: #eee;
    font-family: Raleway;
}
.body__quote--layout{
    font-size: 30px;
    background: #fff;
    width: 800px;
    margin: 8% auto auto auto;
    border-radius: 4px; 
}
.btn{
    color: #fff;
    outline: none;
    border: none;
}
#author{
    display: block;
    font-size: 15px;
}